.for-Home-page{
    display: grid;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(235deg, #B63D49 -0.81%, rgba(52, 30, 37, 0.97) 57.27%, rgba(15, 22, 27, 0.96) 90.12%), #FFF;
}

.for-home-middle{
    justify-self: center;
    align-self: center;
    width: 1rem;
}


/* For middle section  */

.for-home-middle-section{
    display: flex;
    justify-self: center;
    align-self: center;
    flex-direction: column;
    text-align: center;
    width: 80%;
}

.for-highlight-text{
    color: #f57359;
    text-align: center;
    font-family: Poppins;
    font-size: 5rem;
    font-style: normal;
    font-weight: 800;
    line-height: 150%;
    letter-spacing: 0.2rem;
}

.for-normal-text{
    color: #FFF;
font-family: Poppins;
font-size: 4.5rem;
font-style: normal;
font-weight: 800;
line-height: 150%;
letter-spacing: 0.2rem;
}

.for-home-middle-para{
    margin-top: -1.2rem;
    color: #CDB5B5;
text-align: center;
font-family: Poppins;
font-size: 1.5rem;
font-style: normal;
font-weight: 500;
line-height: normal;
}


