.for-Home-page{
    display: grid;
    flex-direction: column;
    min-height: 88vh;

    /* background: linear-gradient(to top right, #5f0404, rgba(0, 0, 0, 0)); */
  
}

.for-home-middle{
    justify-self: center;
    align-self: center;
    width: 1rem;
}


/* For middle section  */

.for-home-middle-section{
    margin-top: 4rem;
    display: flex;
    justify-self: center;
    align-self: center;
    flex-direction: column;
    text-align: center;
    width: 80%;
}

.for-highlight-text{
    color: #6d1705;
    text-align: center;
    font-family: Poppins;
    font-size: 4rem;
    font-style: normal;
    font-weight: 800;
    line-height: 150%;
    letter-spacing: 0.2rem;
}

.for-home-middle-second{
    display: none;
}

.for-normal-text{
    color: #FFF;
font-family: Poppins;
font-size: 3.5rem;
font-style: normal;
font-weight: 800;
line-height: 150%;
letter-spacing: 0.2rem;
}

.for-home-middle-para{
    margin-top: -1rem;
    color: #CDB5B5;
text-align: center;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
}


.for-home-button-section{
    margin-top: -1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
}

.login-button,
  .signup-button {
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 0.2px solid rgb(196, 184, 184);
    cursor: pointer;
    background: inherit;
    color: white;
    border-radius: 5px;
    width: 130px;
    height: 40px;
  }

.login-button:hover,
.signup-button:hover{
    color: rgb(65, 11, 0);
    font-weight: bold;
    background-color: #FFF;
}



@media (min-width:886px){
    

    .for-home-middle-section{
        margin-top: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        text-align: center;
        width: 90%;
    }
    
    .for-home-middle-second{
        display: block;
        width: 40%;
        margin-left: 2rem;
        
    }

    .for-group-image{
        height: 350px;
    }
}