/* Navbar.css */

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 450px;
  font-family: 'Poppins', sans-serif;

  /* justify-content: space-between;
  padding: 5px;
  right: 0;
  left: 2rem;
  width: 95%;
  position: relative; */
}
.logo {
  font-size: 1.5rem;
}
/* .menu {
  display: flex;
  flex-direction: row;
} */

.nav {
  width: 380px;
  display: flex;
  height: 40px;
  padding-top: 10px;
  backdrop-filter: blur(1px) saturate(146%);
  -webkit-backdrop-filter: blur(1px) saturate(146%);
  background-color: rgba(255, 255, 255, 0.58);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.nav-active-links {
  list-style: none;
}
.nav-active-links::hover {
  color: #531212;
  transition: 500ms;
}

.menu a {
  color: white;
  text-decoration: none;
  /* padding: 0.5rem;
  margin: 0 1rem; */
  font-size: 1.1rem;
}

/* .menu a.active-link {
  color: #531212;
}

 */

/* .active-link:hover {
  color: #531212;
} */

.toggle-button {
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.login-buttons {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    opacity: 1;
    background-color: black;
    top: 70px;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
  }

  .menu.active {
    display: flex;
  }

  .toggle-button {
    display: block;
  }

  .login-buttons {
    display: none;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    right: 0;
    left: 0;
    width: 92%;
    position: relative;
  }
}

.navbar a {
  color: white;
  margin: 1rem;
}

.social-media .social-icon {
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  .social-media {
    display: none;
  }
}
