/* Navbar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: white;
    top: 0;
    right: 0;
    left: 0;
    width: 95%;
    position: fixed;
  }
  
  .logo {
    font-size: 1.5rem;
  }
  
  .menu {
    display: flex;
    flex-direction: row;
  }
  
  .menu a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    margin: 0 1rem;
  }
  
  .toggle-button {
    font-size: 1.5rem;
    cursor: pointer;
    display: none; /* Hide by default on larger screens */
  }
  
  .login-buttons {
    display: flex;
    align-items: center;
  }
  
  .login-button,
  .signup-button {
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 0.2px solid rgb(196, 184, 184);
    cursor: pointer;
    background: inherit;
    color: white;
    border-radius: 2px;
    
  }
  
  /* Media query for small screens */
  @media (max-width: 768px) {
    .menu {
      display: none; /* Hide on larger screens */
      flex-direction: column;
      position: absolute;
      top: 70px;
      left: 0;
      width: 100%;
      text-align: center;
      color: white;
      font-weight: 800;
    }
  
    .menu.active {
      display: flex;
    }
  
    .toggle-button {
      display: block; /* Show on smaller screens */
    }
  
    /* Hide login buttons on small screens */
    .login-buttons {
      display: none;
    }
  }
  